.auth {
  display: none;
  border-radius: 10px;

  flex-direction: column;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-color: white;

  padding: 4rem 2rem;
  margin-top: 20rem;
  max-width: 90%;

  margin-left: auto;
  margin-right: auto;

  align-items: center;

  &__input {
    outline: 0;
    border: 0;
    background: #f2f2f2;
    width: 80%;

    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 2rem;
  }

  &__btn {
    margin-bottom: 1rem;
  }

  &__add {
    font-size: 1.8rem;
    color: $grey;

    text-align: center;
  }

  &__change {
    &:link,
    &:visited {
      color: $green-light;
    }

    &:hover,
    &:active {
      color: darken($green-light, 20%);
      transition: 0.3s all;
    }
  }

  &--login {
    // display: none;
  }

  &--register {
  }
}

.active {
  display: flex;
}
