.auth {
  display: none;
  margin-top: 20rem;
  border-radius: 10px;

  flex-direction: column;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-color: white;

  padding: 4rem 2rem;

  align-items: center;

  &__input {
    outline: 0;
    border: 0;
    background: #f2f2f2;
    width: 80%;

    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 2rem;
  }

  &__btn {
    text-transform: uppercase;
    outline: 0;
    width: 60%;
    background: $green-light;
    border-radius: 10px;

    border: 0;
    padding: 1.5rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.3 ease;
    cursor: pointer;

    margin-bottom: 1rem;

    &:hover,
    &:focus {
      background-color: darken($green-light, 10%);
      transition: 0.3s all;
    }
  }

  &__add {
    font-size: 1.8rem;
    color: $grey;

    text-align: center;
  }

  &__change {
    &:link,
    &:visited {
      color: $green-light;
    }

    &:hover,
    &:active {
      color: darken($green-light, 20%);
      transition: 0.3s all;
    }
  }

  &--login {
    // display: none;
  }

  &--register {
  }
}

.active {
  display: flex;
}
