.ctc {
  display: flex;
  align-items: center;
  max-width: 330px;
  height: auto;

  margin: 0 auto;
  margin-top: 2rem;

  position: relative;
  &__list {
    list-style: none;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__property {
    position: absolute;
    left: 0;
    z-index: 100;

    font-size: 1.8rem;

    font-family: Arial, sans-serif;

    // font-weight: bold;
    // color: darken($grey, 20%);

    &--input {
      border: 0;
      background-color: inherit;
      width: 150px;
    }

    &--reg {
      top: 113px;
      left: 210px;

      width: 110px;
    }

    &--vin {
      top: 153px;
      left: 60px;
    }

    &--input + &--vin {
      width: 170px;
    }

    &--marka {
      letter-spacing: -1px;

      top: 172px;
      left: 150px;
    }

    &--input + &--marka {
      left: 145px;
      width: 170px;
    }

    &--type {
      top: 192px;
      left: 90px;
    }

    &--category {
      top: 212px;
      left: 265px;
    }

    &--input + &--category {
      width: 60px;
    }

    &--year {
      top: 232px;
      left: 180px;
    }

    &--input + &--year {
      width: 60px;
    }

    &--shasi {
      top: 252px;
      left: 110px;

      min-width: 165px;
    }

    &--kuzov {
      top: 270px;
      left: 110px;
    }

    &--input + &--kuzov {
      width: 170px;
    }

    &--color {
      top: 291px;
      left: 65px;
    }

    &--input + &--color {
      width: 190px;
    }

    &--power {
      top: 311px;
      left: 266px;
    }

    &--input + &--power {
      width: 60px;
    }

    &--eco {
      top: 332px;
      left: 190px;
    }

    &--input + &--eco {
      width: 120px;
    }

    &--pass {
      top: 350px;

      &-ser {
        left: 178px;
      }
      &-num {
        left: 240px;
      }
    }

    &--input + &--pass {
      width: 80px;
    }

    &--input + &--pass-ser {
      width: 40px;
    }

    &--mass-max {
      top: 370px;
      left: 250px;
    }

    &--input + &--mass-max {
      width: 60px;
    }

    &--mass {
      top: 390px;
      left: 210px;
    }

    &--input + &--mass {
      width: 60px;
    }

    &--number {
      bottom: 8px;
      left: 50%;

      font-size: 2.3rem;
      color: darken(crimson, 20%);
      font-weight: bold;

      transform: translateX(-40%);
    }

    &--number-num::after {
      content: "#";
      color: red;
    }

    &--input + &--number {
      // width: 170px;
      width: 80px;
    }

    &--input + &--number-ser {
      width: 60px;
      transform: translateX(-90%);
    }

    &--input + &--number-num {
      transform: translateX(15%);
    }
  }
}
