@mixin absPos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin respondMax($breakpoint) {
  @media (max-width: calc($breakpoint/16px * 1em)) {
    @content;
  }
}

@mixin respondMin($breakpoint) {
  @media (min-width: calc($breakpoint/16px * 1em)) {
    @content;
  }
}

@mixin respondBetween($breakpoint, $nextBreakpoint) {
  @media (min-width: calc($breakpoint/16px * 1em)) and (max-width: calc($breakpoint/16px * 1em)) {
    @content;
  }
}
