*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 9px;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(90deg, $green-light, $green);

  min-height: 100vh;
}

.container {
  max-width: 350px;
  margin: 0 auto;

  // margin-top: 5rem;
}

.container-nm {
  max-width: 450px;

  // margin-top: 5rem;
}

// .container__content {
//   color: white;
//   font-size: 2rem;
//   width: 100%;
//   min-height: 100vh;
//   background-color: black;
// }
